@import url('https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap');
@import url("components/container.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/list.css");

body{
	font-family: "lora", serif;
	font-size: 18px;
}

h1 {
	font-family: "roboto" , sans-serif;
	font-weight: bold;
	font-size: 35px;
}

h2 {
	font-family: "roboto" , sans-serif;
	font-weight: bold;
	font-size: 30px;
}

h3 {
	font-family: "roboto" , sans-serif;
	font-weight: bold;
	font-size: 25px;
}